<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="http://localhost:3000/year">Report 1</a></li>
        <li><a href="http://localhost:3000/year">Report 2</a></li>
        <li><a ng-click="changeTemplate(3)">Report 3</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div>
  <ng-include src="template"></ng-include>
</div>
