<div class="col-md-6">
  <div class="panel panel-info">
      <div class="panel-heading">
          <h3 class="panel-title">{{question.topic}} - Ask your Question</h3>
      </div>

      <div class="panel-body">
        <div>
            <input type="text" ng-model="question.title" class="form-control" style="margin-bottom:5px;" placeholder="Question Title"></title>
        </div>
          <div class="panel-info panel">
            <div class="form-group">
              <textarea class="mceEditor" ng-model="tinymceModel" style="display:inline"></textarea>
            </div>
          </div>
          <div class="pull-right" style="display:inline-block">
              <button type="button" class="btn btn-danger" ng-click="cancle()">Cancle</button>
              <button type="button" class="btn btn-primary">Preview</button>
              <button type="button" class="btn btn-success" ng-click="publish()">Publish</button>
          </div>
          <form enctype="multipart/form-data" action="/api/upload" method="post" style="display:none">
            <input type = "file" id="fileUpload" onchange="angular.element(this).scope().uploadfile(this.files)" ng-model="fileFile" name="file"/>
          </form>
          <form enctype="multipart/form-data" action="/api/upload" method="post" style="display:none">
            <input type = "file" id="imageUpload" onchange="angular.element(this).scope().uploadfile(this.files)" ng-model="imageFile" name="file"/>
          </form>
          <form enctype="multipart/form-data" action="/api/upload" method="post" style="display:none">
            <input type = "file" id="mediaUpload" onchange="angular.element(this).scope().uploadfile(this.files)" ng-model="mediaFile" name="file"/>
          </form>



      </div>
  </div>
</div>
