<div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading" ng-click="toggleExpand(this)">
          <h3 class="panel-title">{{topic}}</h3>
          <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-{{arrowtype}}"></i></span>
        </div>
        <div class="panel-body" ng-show="showBody">

            <div ng-repeat="hr in hrList | orderBy:'-rating'" ui-sref="viewHelpRequest({id: hr._id})">
              <div class="panel">
                <div class="well" style="padding:10px;">
                    <span class="col-md-3" style="font-weight:bold">{{hr.title}}</span>
                    <div  class="truncate" style="width:700px;">
                      <span ng-bind-html="hr.question"></span>
                    </div>
                    <div>
                      <span uib-rating ng-model="hr.rating" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating" ng-click="rate()"></span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-info" ui-sref="createHelpRequest({topic : topic})">Create Help Request</button>
        </div>

      </div>
</div>
