.row{
    margin-top:40px;
    padding: 0 10px;
}

.clickable{
    cursor: pointer;
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}
.col-md-6 {
	width:100%;
}

.glyphicon {
	margin-top: 5px;
}

.my-element.ng-hide-add, .my-element.ng-hide-remove {
  /* this is required as of 1.3x to properly
     apply all styling in a show/hide animation */
  transition: 1s linear all;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
.rating. rated{
   content: "\2605";
   position: absolute;
   left: 0;
   color: gold;
}

.hide{
  display: none;
}
.show{
  display: block;
}
.truncate {
        display: inline-block;
        width: 700px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
