<div class="container-fluid">
  <div class="col-md-9 col-xs-12">
    <div class="jumbotron" style="padding:10px;">
      <div>{{helpRequest.title}}</div>
      <div ng-bind-html="helpRequest.question"></div>


      <span uib-rating ng-model="helpRequest.rating" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating" ng-click="rate()"></span>
      <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>

    </div>
    <div>
      <div ng-repeat="answer in helpRequest.answers | orderBy:'-rating'" class="breadcrumb">
        <div ng-bind-html="answer.answer" ></div>
        <span uib-rating ng-model="answer.rating" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating" ng-click="rate()"></span>
        <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>

      </div>
    </div>
    <div class="panel-body">
      <div ng-class="showeditor">

        <div class="form-group">
          <textarea class="mceEditor" ng-model="tinymceModel" style="display:inline"></textarea>
        </div>

      </div>
      <div class="pull-right" style="display: inline-flex; float: right;">
          <button type="button" class="btn btn-success" ng-class="showeditorInvert"  ng-click="enableTinyMce()">Answer</button>
          <button type="button" class="btn btn-success" ng-class="showeditor" ng-click="publishAnswer()" style="margin-right: 15px;">Publish Answer</button>
          <button type="button" class="btn btn-danger" ng-class="showeditor" ng-click="disableTinyMce()">Cancle</button>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Key Words</div>
      <div class="panel-body">
        <span ng-repeat="keyword in helpRequest.keyWords" class="label label-default" style="margin:3px;">
          {{keyword}}
        </span>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Related Help Request</div>
      <div class="panel-body">
        <ul class="list-group">
          <li ng-repeat="hr in helpRequest.relatedHr" class="list-group-item list-group-item-info">{{hr}}</li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default" >
      <div class="panel-heading">Related Articles</div>
      <div class="panel-body" style="max-height:300px;overflow-y:scroll">
        <ul class="list-group">
          <li ng-repeat="ra in helpRequest.relatedArticles" class="list-group-item list-group-item-info">
              <a href="{{ra.url[0]}}" target="blank">{{ra.title[0]}}</a>
              <div style="color:black"> by {{ra.author[0]}} </div>
          </li>
        </ul>
      </div>
    </div>




  </div>

</div>
